# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#odb
*.?xx

#cmake
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake

#binarka
yarl
